<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Logging Settings-->
        <add key="ConsoleLogLevel" value="Information"/>
        <add key="RollingFileLogLevel" value="Verbose" />
        <add key="RollingFilePathFormat" value="./Logs/XmlAutoGen-{Date}.log" />
    </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions.LifetimeScoping" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly> 
    </assemblyBinding>
  </runtime>
</configuration>