# Configuration file
GLOBAL:
    report-file: sorting-report.log
    additional-pgo-file: ../../config/divar.genw3k.prod/target_pt_opts.txt
    relocate-llvmint-symbols: false

# All text sections.
.text_tcm_static_kernel:
.text_tcm_static_fw:
.text_tcm_static_sw:
.text_c2ksrch_traffic_overlay:
.text_c2kcommon_paging_overlay:
.text_cdma1x_traffic_overlay:
.text_gfw_0_overlay:
.text_gfw_1_overlay:
.text_gfw_2_overlay:
.text_lte_traffic_overlay:
.text_wfw_paging_overlay:
.text_tfw_0_overlay:
.text_tfw_1_overlay:
.text_wfw_traffic_overlay:
.text_mcdo_traffic_overlay:
.text_common_sw_ad_0_overlay:
.text_lte_sw_ad_0_overlay:
.text_lte_sw_ad_1_overlay:
.text_wcdma_sw_ad_0_overlay:
.text_wcdma_sw_ad_1_overlay:
.text_geran_sw_ad_0_overlay:
.region_high_clade_protected_memory:
.region_high_clade:
.region_low_clade:
.text_fw:
.text_sw:
