# CLADE PLUGIN CONFIG FILE. Empty lines and lines starting with # are ignored
# Lines where # is not at beginning will result in error
# Plugin looks for section names for the following 3 cases:
# high_initial_sections, low_initial_sections, & clade_distribution

# Sections in high priority CLADE that will not be redistributed go here
high_initial_sections:
	.region_high_clade_protected_memory

	
# Sections in low priority CLADE that will not be redistributed go here
#low_initial_sections:


# Sections that need to be distributed must be supplied below
clade_distribution:
	.redistribute
	.region_high_clade
	.region_low_clade
	

